.hero {
	margin-top: -9rem;
	background: url(https://vieirahenrique.github.io/manage/img/bg-tablet-pattern.svg),
		url(https://vieirahenrique.github.io/manage/img/bg-tablet-pattern.svg);
	background-size: 630px, 270px;
	background-repeat: no-repeat;
	background-position: top -200px right -315px, right -135px bottom 30px;

	padding: 5rem 0 11rem;
	@media screen and (min-width: 768px) {
		padding: 5rem 0 10rem;
		background: url(https://vieirahenrique.github.io/manage/img/bg-tablet-pattern.svg);
		background-size: 630px;
		background-repeat: no-repeat;
		background-position: top -160px right -250px;
	}

	@media screen and (min-width: 1025px) {
		background-size: 800px;
		background-position: top -160px right -150px;
	}
	@media screen and (min-width: 1441px) {
		background-size: 1000px;
		background-position: top -360px right -200px;
	}

	.wrapper {
		margin-top: 9rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas: 'img' 'text';
		align-items: center;

		@media screen and (min-width: 768px) {
			grid-template-columns: 1fr 1fr;
			grid-template-areas: 'text img';
		}
	}

	&__text {
		grid-area: text;
		text-align: center;
		@media screen and (min-width: 768px) {
			text-align: left;
		}

		h1 {
			font-weight: 700;
			font-size: 4rem;
			letter-spacing: -1;
			line-height: 5rem;
			margin-bottom: 1rem;
		}

		p {
			font-weight: 300;
			line-height: 28px;
			color: $blue;
			opacity: 0.5;
			margin-bottom: 3rem;
		}
	}

	&__img {
		grid-area: img;
	}
}
