@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@300;400;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-size: 1.6rem;
	font-family: 'Be Vietnam', sans-serif;
	color: $blue;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: $black;
}

input,
textarea {
	padding: 1rem;
	border: none;
	outline: none;
}

p {
	line-height: 2;
}

img {
	width: 100%;
}

.wrapper {
	max-width: 111rem;
	margin: 0 auto;
	padding: 0 2rem;
}
